<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
<listener class-name="base.ExtentReportListener"/>
</listeners>

  <test thread-count="5" name="Test" parallel="tests">
    <classes>
      <class name="testPage.CreditCardTest"/>
      <class name="testPage.ProductPageTest"/>
      <class name="testPage.PaymentPageTest"/>
      <class name="testPage.HomePageTest"/>
      <class name="testPage.LoginPageTest"/>
      <class name="testPage.SearchPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
